email.subject = "[LSBC] New item: "
email.from.name  = "Le super bon coin"
email.from.email = "changeme"
email.smtp.host = "changeme"
email.smtp.port = 465
email.smtp.ssl  = true
email.smtp.username = "changeme"
email.smtp.password = "changeme"
